@charset "utf-8";
#wrapper
		{	
		width: 1000px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 20px;
		margin-bottom: 20px;
		}

body {background-color: #EAEEDF;
 		margin: 0;
}

nav {
	 	position: relative;
 		overflow: hidden;
		background-color: #f2f2f2;	}

nav ul {
			list-style-type: none;
			font-display: block; 
			margin:0;
			padding:0;
			overflow: hidden;
			position: inherit;
			top: 0px;
			width: 100%;
	
		
		}
nav li {		
			display: inline;
			float: left;
	
			
		}
nav li a {
			color:  #433A34;
			text-align: center;
			display: block;			
			padding: 25px 80px;
			font-size: 150%;
			text-decoration: none;
	
			
		}

a:link
	{
		color: #3F3024;
		background-color:transparent;
		text-decoration:none;
	}
	
	
	a:visited
	{
		color:#343434;
		background-color:transparent;
		text-decoration:none;
	}
	
	a:hover
	{
		color:#00000;
		background-color:transparent;
		text-decoration:underline;
	}
	
	a:active
	{
		color:#9C4600;
		background-color:transparent;
		text-decoration:underline;
	
	}
img {	border: 1px solid #433A34;
		border-radius: 4px;
		padding: 5px;
		width: 350px;
		margin-left: 50px;
	margin-top: 20px;
}
.top {
	width: 1500px;
	height: 600px;
	margin: auto;
	background-repeat: no-repeat;
	border-color: #433A34;
	border-style: solid;
	border-width: 3px;
	background-image: url("images/mepic.png")
	}

	
.card
	{background-color: #FFFFFF;
	color: #433A34;
    margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 150%;
  	width: 65%;
  	border: 3px solid #433A34;
 	padding: 10px 10px 10px 10px;
	
	}	
	
.cardpic
	{
	position: absolute;
	}


footer{
		clear: both;
		width: 1500px;
		height: 200px;
		margin: auto;
		position: relative;
 		overflow: hidden;
		background-image: url("images/footer.png");
		background-repeat: no-repeat;
		background-position: bottom right;
		padding-top: 100px;
	border-color: #433A34;
	border-style: solid;
	border-width: 3px;
		}
	